@model IEnumerable<SparkleAir.Infa.ViewModel.MileageDetails.MileageDetailIndexVm>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<span>
    <span>關鍵字:</span>
    <input type="search" id="search" />
    <input type="submit" id="btnsearch" value="搜尋" />
</span>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MermberIsd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OriginalMile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeMile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FinalMile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MileValidity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MileReason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangeTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MermberIsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalMile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OriginalMile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeMile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinalMile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MileValidity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MileReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangeTime)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.Id }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
                @*@Html.ActionLink("Delete", "Delete", new { id=item.Id })*@
            </td>
        </tr>
    }

</table>

@section Scripts {
   <script>




    </script>
}
