<h3>航班編號: @Model.FlightCode</h3>
<p>出發地: @Model.DepartureAirport</p>
<p>目的地: @Model.DestinationAirport</p>
<p>出發航廈: @Model.DepartureTerminal</p>
<p>抵達航廈: @Model.DestinationTerminal</p>
<p>出發時間: @Model.DepartureTime</p>
<p>抵達時間: @Model.ArrivalTime</p>
<p>執飛時間: @Model.DayofWeek</p>
<p>飛行里程: @Model.Mile</p>
