@model SparkleAir.Infa.ViewModel.AirFlights.AirFlightCreateVm

@{
	ViewBag.Title = "Create";
}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.3/dist/sweetalert2.min.css" rel="stylesheet">
<h2>@Model.FlightCode</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<hr />
		@Html.ValidationSummary(true, "", new { @class = "text-danger" })
		@Html.HiddenFor(model => model.AirOwnId)
		@Html.HiddenFor(model => model.AirFlightManagementId)
		@Html.HiddenFor(model => model.DayofWeek)
		@Html.HiddenFor(model => model.Id)
		@Html.HiddenFor(model => model.DepartureTimeZone)
		@Html.HiddenFor(model => model.ArrivalTimeZone)
		@Html.HiddenFor(model => model.FlightCode)
		@Html.HiddenFor(model =>model.CrossDay)

		<div class="mb-3">
			@Html.LabelFor(model => model.FlightModel, htmlAttributes: new { @class = "control-label col-md-2" })
			<select class="form-select" aria-label="Default select example" name="RegistrationNum" id="RegistrationNum">
				<option selected>@Model.FlightModel | @Model.RegistrationNum</option>

				@foreach (var airown in ViewBag.AirOwn)
				{
					if (airown.Status == "Operational(運營中)")
					{
						<option value="@airown.RegistrationNum">@airown.FlightModel | @airown.RegistrationNum</option>
					}
				}
			</select>
			@Html.ValidationMessageFor(model => model.FlightModel, "", new { @class = "text-danger" })
		</div>

		<div class="mb-3">
			@Html.LabelFor(model => model.DepartureAirport, htmlAttributes: new { @class = "me-3" })
			@Html.DisplayFor(model => model.DepartureAirport)
			@Html.HiddenFor(model => model.DepartureAirport)

		</div>

		<div class="mb-3">
			@Html.LabelFor(model => model.ArrivalAirport, htmlAttributes: new { @class = "me-3" })
			@Html.DisplayFor(model => model.ArrivalAirport)
			@Html.HiddenFor(model => model.ArrivalAirport)
		</div>

		<div class="mb-3">
			@Html.LabelFor(model => model.ScheduledDeparture, htmlAttributes: new { @class = "me-3" })
			@Html.DisplayFor(model => model.ScheduledDeparture)
			@Html.HiddenFor(model => model.ScheduledDeparture)
		</div>

		<div class="mb-3">
			@Html.LabelFor(model => model.ScheduledArrival, htmlAttributes: new { @class = "me-3" })
			@Html.DisplayFor(model => model.ScheduledArrival)
			@Html.HiddenFor(model => model.ScheduledArrival)
		</div>

		<div class="mb-3">
			<div class="col-md-offset-2 col-md-10">
				<button class="btn btn-dark create" onclick="create()">新增</button>
				@Html.ActionLink("返回", "Index", "AirFlightsManagement", null, new { @class = "btn btn-dark" })
			</div>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
	<script>
		const create = () => {
			Swal.fire({
				icon: "success",
				title: "成功設定機型",
				showConfirmButton: false,
				timer: 1700
			}).then(() => {
				window.location.href = "/AirFlightsManagement/Index";
			});
		}
	</script>
}
