@model SparkleAir.Infa.ViewModel.AirFlights.EachFlightSeatsVm
@{
	ViewBag.Title = "GetSeat";
}

<p>
	出發機場: @Model.DepartureAirport <br />
	到達機場: @Model.ArrivalAirport <br />
	預定出發時間: @Model.ScheduledDeparture <br />
	預定到達時間: @Model.ScheduledArrival <br />
</p>

<table class="table text-center">
	<tr>
		<th>
			艙等
		</th>
		<th>
			座位號碼
		</th>
		<th>
			定位狀態
		</th>
		<th></th>
	</tr>

	@foreach (var seat in Model.Seats)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => seat.CabinName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => seat.SeatNum)
			</td>
			<td>
				@Html.DisplayFor(modelItem => seat.IsSeated)
			</td>
			<td>
				@Html.ActionLink("訂位資訊", "Details", new { id = seat.Id })
			</td>
		</tr>
	}
</table>
