@model IEnumerable<SparkleAir.FrontEnd.Site.Models.ViewModels.AirFlights.AirFlightManagementIndexVm>

@{
	ViewBag.Title = "Index";
}

<h2>航班管理</h2>

@Html.ActionLink("新增航班", "Create", null, new { @class = "btn btn-sm btn-dark mt-2 mb-2" })
<div class="row">
	<div style="overflow:auto">
		<table class="table text-center">
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.FlightCode)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DepartureAirport)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DestinationAirport)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DepartureTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ArrivalTime)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.DayofWeek)
				</th>
			</tr>

			@foreach (var item in Model)
			{
				<tr class="text-center">
					<td>
						@Html.DisplayFor(modelItem => item.FlightCode)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DepartureAirport)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DestinationAirport)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DepartureTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ArrivalTime)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.DayofWeek)
					</td>
					<td>
						@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-sm btn-dark" }) |
						@Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-dark details-link", data_id = item.Id })
					</td>
				</tr>
			}
		</table>
	</div>
</div>
<div id="divMore" style="display:none"></div>

@section Scripts{
	<script>
		document.querySelectorAll(".details-link").forEach(function (link) {
			link.addEventListener('click', function (event) {
				event.preventDefault();
				showModal(link.dataset.id); // 通過 dataset 獲取 itemId
			});
		});

		function showModal(itemId) {
			fetch('@Url.Content("~/AirFlights/DetailsPartial")' + `?id=${itemId}`)
				.then(response => response.text())
				.then(data => {
					const div = document.querySelector('#divMore');
					div.innerHTML = data;
				})
				.catch(error => console.error('Error:', error));

			const x = event.clientX;
			const y = event.clientY;
			const div = document.querySelector('#divMore');
			div.style.left = `${x}px`;
			div.style.top = `${y}px`;
			div.style.display = 'block';
			event.stopPropagation();
		}

		// 添加此代码來隐藏div
		document.body.addEventListener('click', function (event) {
			const div = document.querySelector('#divMore');
			const isClickInside = div.contains(event.target);
			if (!isClickInside) {
				div.style.display = 'none';
			}
		});
		// 避免div內部的點擊觸發body的事件
		document.querySelector('#divMore').addEventListener('click', function (event) {
			event.stopPropagation();
		});
	</script>
}
