@model IEnumerable<SparkleAir.Infa.ViewModel.AirFlights.AirFlightIndexVm>

@{
	ViewBag.Title = "Index";
}

<h2>班表</h2>
@*@Html.ActionLink("日曆形式", "CalendarPartial", null, new { @class = "btn btn-sm btn-dark mt-2 mb-2", id = "btn",style="display:none" })*@
<div class="row" id="datas">
	<div style="overflow:auto">
		<table class="table text-center table_jq" id="flightTable">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.FlightCode)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.FlightModel)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.RegistrationNum)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DepartureAirport)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ArrivalAirport)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ScheduledDeparture)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ScheduledArrival)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr class="text-center">
						<td>
							@Html.DisplayFor(modelItem => item.FlightCode)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.FlightModel)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.RegistrationNum)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DepartureAirport)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ArrivalAirport)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ScheduledDeparture)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ScheduledArrival)
						</td>
						<td>
							@*@Html.ActionLink("詳細資訊", "Details", new { id = item.Id }, new { @class = "btn btn-sm btn-dark details-link", data_id = item.Id }) |*@
							@Html.ActionLink("機位資訊", "GetSeat", new { id = item.Id }, new { @class = "btn btn-sm btn-dark", data_id = item.Id })
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>

