@model SparkleAir.Infa.ViewModel.Airtype_Owns.PlaneVm

@{
    ViewBag.Title = "刪除機型";
}

<style>
    .limited-width {
        max-width: 50%; /* 设置最大宽度，可以根据需要调整百分比值 */
        overflow: hidden;
        word-wrap: break-word; /* 防止内容溢出 */
    }

    .km::after {
        content: " km"; /* 添加 " km" 单位 */
    }

    .ton::after {
        content: " ton"; /* 添加 " kg" 单位 */
    }

    .number-with-comma::after {
        content: attr(data-number); /* 添加千分位符号 ",000" */
    }
</style>

<h2>你確定要刪除這筆資料嗎?</h2>

@*<h3>你確定要刪除這筆資料嗎?</h3>*@
<div>

    <hr />
    <dl class="dl-horizontal limited-width">
        <dt>
            @Html.DisplayNameFor(model => model.FlightModel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightModel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalSeat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalSeat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxMile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxMile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaxWeight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaxWeight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ManufactureCompany)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ManufactureCompany)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Introduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Img)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color mb-3">
            <input type="submit" value="確認刪除" class="btn btn-danger" /> 

        </div>

        <div>
            <a href="@Url.Action("Index")" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> 返回
            </a>
        </div>
    }
