@model IEnumerable<SparkleAir.Infa.ViewModel.CompanyAndPermission.PermissionSettingIndexVm>

@{
    ViewBag.Title = "頁面權限設定";
}

<h2>頁面權限設定</h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-sm btn-dark ps-3 pe-3 btn-create"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新增</a>
</p>
<table class="table table_jq">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.PermissionGroupsId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PermissionGroupsName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.PermissionPageInfoId)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PermissionPageInfoName)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ViewPermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditPermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatePermission)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DeletePermission)
        </th>*@
            <th></th>
        </tr>
        </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PermissionGroupsId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionGroupsName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.PermissionPageInfoId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.PermissionPageInfoName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.ViewPermission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EditPermission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatePermission)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeletePermission)
                </td>*@
                <td>
                    <a href='@Url.Action("Edit/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-edit"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a> 
                </td>
            </tr>
        }
        </tbody>
</table>
