@model IEnumerable<SparkleAir.Infa.ViewModel.Members.MemberLoginLogIndexVm>

@{
    ViewBag.Title = "Index";
}

<h2>會員登入紀錄</h2>

<table class="table table_jq">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logintime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginStatus)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Logintime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogoutTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginStatus)
                </td>
                
            </tr>
        }
        </tbody>
</table>
