@model IEnumerable<SparkleAir.Infa.ViewModel.TaxFree.TFOrderlistsVm>

@{
    ViewBag.Title = "Index";
}

<h2>訂單檢視</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@

<button id="createOrderBtn" class="btn btn-dribbble">創建訂單</button>

<table class="table table_jq">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.MemberId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.MemberChineseLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberChineseFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberEnglishLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberEnglishFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberPassportNumber)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.TFItemsId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.TFItemsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFItemsSerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFItemsImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFItemsQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TFItemsUnitPrice)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>*@

        </tr>
    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                @*<td>
                    @Html.DisplayFor(modelItem => item.MemberId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.MemberChineseLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberChineseFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberEnglishLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberEnglishFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPhone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MemberPassportNumber)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.TFItemsId)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.TFItemsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFItemsSerialNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFItemsImage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFItemsQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TFItemsUnitPrice)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>*@
                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>*@

            </tr>
        }
    </tbody>
</table>

@section Scripts{
    <script>
    $(document).ready(function () {
        $("#createOrderBtn").click(function () {
            $.ajax({
                url: '@Url.Action("Create", "TFOrderlist")',
                type: 'POST',
                data: {
                    MemberId: Math.floor(Math.random() * 49) + 1,
                    TFItemsId: Math.floor(Math.random() * 4) + 1
                },
                success: function (data) {
                    // 在這裡更新 View 以顯示新的訂單內容
                    alert('訂單已創建！');
                    // 可以透過 AJAX 載入相應的訂單 View，或是直接更新當前頁面的內容
                },
                error: function () {
                    alert('發生錯誤！');
                }
            });
        });
    });


        var animateButton = function (e) {

            e.preventDefault;
            e.target.classList.remove('animate');
            e.target.classList.add('animate');
            setTimeout(function () {
                e.target.classList.remove('animate');
            }, 700);
        };

        var bubblyButtons = document.getElementsByClassName("bubbly-button");

        for (var i = 0; i < bubblyButtons.length; i++) {
            bubblyButtons[i].addEventListener('click', animateButton, false);
        }

    </script>
    
    }
