@model SparkleAir.Infa.ViewModel.Airports.AirportCreateVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    @*<h4>AirportCreateVm</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gps)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gps)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirPortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirPortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityIntroduction)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityIntroduction)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Continent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Continent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Img)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Img)*@
            <img src="@Url.Content($"~/Files/Airports/{Model.Img}")"  class="rounded" alt="你死圖了">
        </dd>

    </dl>
</div>
<p>
    <a href='@Url.Action("Edit/")@Model.Id' class="btn btn-sm btn-dark ps-2 pe-2"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a>
    <a href='@Url.Action("Index/")' class="btn btn-sm btn-dark ps-2 pe-2 btn-back-to-list"><i class="fa-solid fa-backward"></i>&nbsp;&nbsp;回清單頁</a>
</p>
