@model IEnumerable<SparkleAir.Infa.ViewModel.Airports.AirportIndexVm>

@{
    ViewBag.Title = "Index";
}

<style>
    #img {
      
      
        width: 500px;
        height: 200px;
    }

    .square {
        width: 350px;
        height: 200px;
        background: red;
        display: black;
        transition: width 2s, height 1s;
    }

    .square:hover {
            width: 500px;
            height: 300px;
     }
</style>
<script>


</script>


<h2>機場列表<img src="~/Files/Airports/1476.gif" alt="你死圖了"></h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-sm btn-dark ps-3 pe-3 btn-create"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新增</a>
</p>
<table class="table table_jq ">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Lata)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.Gps)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirPortName)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.TimeArea)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.Zone)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.CityIntroduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Continent)
            </th>
            <th style="display: none ">
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Lata)
                </td>
                <td style="display: none ">
                    @Html.DisplayFor(modelItem => item.Gps)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td style="display: none ">
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AirPortName)
                </td>
                <td style="display: none ">
                    @Html.DisplayFor(modelItem => item.TimeArea)
                </td>
                <td style="display: none ">
                    @Html.DisplayFor(modelItem => item.Zone)
                </td>
                <td style="display: none ">
                    @Html.DisplayFor(modelItem => item.CityIntroduction)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Continent)
                </td>
                <td id="img">
                    @*@Html.DisplayFor(modelItem => item.Img)*@
                    <img @*id="img"*@ src="@Url.Content($"~/Files/Airports/{item.Img}")" class="rounded  square square:hover animated-image"  alt="你死圖了">
                </td>
                <td>
                    <a href='@Url.Action("Edit/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-edit"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a>
                    <a href='@Url.Action("Details/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-detail"><i class="fa-solid fa-file"></i>&nbsp;&nbsp;詳細資訊</a>
                    <a href='@Url.Action("Delete/")@item.Id' class="btn btn-sm btn-danger ps-2 pe-2 btn-delete "><i class="fa-solid fa-trash "></i>&nbsp;&nbsp;刪除</a>
                </td>
            </tr>
        }
    <tbody>

</table>

<script>
    function showDeleteConfirmation(url) {
        Swal.fire({
            title: "確定要刪除嗎？",
            text: "此操作將無法還原！",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Delete！"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "刪除成功！",
                    text: "此筆已被刪除。",
                    icon: "success"
                }).then(() => {
                    // 在確認刪除後，執行實際的刪除操作
                    window.location.href = url;
                });
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains("btn-delete")) {
                e.preventDefault();
                var deleteUrl = e.target.getAttribute("href");
                showDeleteConfirmation(deleteUrl);
            }
        });
    });


</script>
