@model SparkleAir.Infa.ViewModel.LuggageOrders.LuggageOrderIndexVm

<div>
    <h4>LuggageOrderIndexVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FlightCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FlightCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketInvoicingDetailId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketInvoicingDetailId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketInvoicingDetailName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketInvoicingDetailName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuggageId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuggageId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuggagePrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuggagePrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TransferPaymentsId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TransferPaymentsId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LuggageNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LuggageNum)
        </dd>

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>
