@model SparkleAir.FrontEnd.Site.Models.ViewModels.Campaigns.CampaignsCouponVm

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>CampaignsCouponVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AvailableQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AvailableQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MinimumOrderValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MinimumOrderValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaximumDiscountAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaximumDiscountAmount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirFlightsCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirFlightsCriteria)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
