@model IEnumerable<SparkleAir.FrontEnd.Site.Models.ViewModels.Campaigns.CampaignsCouponIndexVm>

@{
    ViewBag.Title = "Index";
}


    <style>
        .coupon-section {
            display: flex;
            align-items: baseline; /* 垂直居中 */
        }

        .fa-ticket {
            margin-right: 10px; /* 調整圖示和標題之間的間距 */
            transform: rotate(-30deg); /* 傾斜30度 */
        }

        #divMore {
            width: auto;
            height: auto;
            border: 1px solid gray;
            position: absolute;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            /*四周隱影*/
            border-radius: 10px;
            padding: 10px;
            font-size: 0.8em;
            z-index: 999;
        }

        .title {
            font-weight: bold;
            font-size: 2.4em; /* 調整文字大小 */
        }

        .btn-delete {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }
    </style>

    <div class="coupon-section">
        <i class="fa-solid fa-ticket fa-2x"></i>
        <h2 class="title">優惠券活動</h2>
    </div>

<p>
    <a href='@Url.Action("Create")' class="btn btn-sm btn-dark ps-3 pe-3 btn-create"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新增</a>
</p>
<div class="row" id="datas">
    <div style="overflow:auto">
        <!--<form id="filterForm" class="text-center align-items-center">
            <div class="form-group row">
                <label class="col-form-label col-1">活動名稱:</label>
                <div class="col-sm-2">-->
                    @*@Html.TextBox("Name")*@
                    <!--<input type="text" class="form-control" id="CouponCode" name="Name">
                </div>
                <button type="button" class="btn btn-sm btn-dark col-sm-1" onclick="applyFilter()" value="Search">搜尋</button>
            </div>-->
            <!-- 其他篩選條件... -->
        <!--</form>-->

        <table class="table table_jq">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Type)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateStart)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateEnd)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateCreated)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>

                    <th></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateStart)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateEnd)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateCreated)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>

                        <td>
                            @if (item.Status != "已結束")
                            {
                                <a href='@Url.Action("Edit/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-edit"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a> 
                            }
                            @*<a href='@Url.Action("Details/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-detail"><i class="fa-solid fa-file"></i>&nbsp;&nbsp;詳細資訊</a> |*@

                        <button type="button" class="btn btn-sm btn-dark ps-2 pe-2 btn-detail modal-dialog-scrollable detailBtn" data-bs-toggle="modal" data-bs-target="#exampleModal" value="@item.Id">
                            <i class="fa-solid fa-file"></i>&nbsp;&nbsp;詳細資訊</button>
                            @if (item.Status != "已結束")
                            {
                                <a href='@Url.Action("Delete/")@item.Id' class="btn btn-sm btn-danger ps-2 pe-2 btn-delete"><i class="fa-solid fa-trash"></i>&nbsp;&nbsp;刪除</a>
                            }
                        </td>
                </tr>
            }
</tbody>
        </table>
    </div>
</div>

<div id="divMore" style="display:none"></div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">優惠券詳細資訊</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <dl class="dl-horizontal" id="detail"></dl>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> Close </button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script>

		document.querySelectorAll(".details-link").forEach(function (link) {
			link.addEventListener('click', function (event) {
				event.preventDefault();
				showModal(link.dataset.id); // 通過 dataset 獲取 itemId
			});
		});

		function showModal(itemId) {
			fetch('@Url.Content("~/CampaignsCoupon/DetailsPartial")' + `?id=${itemId}`)
				.then(response => response.text())
				.then(data => {
					const div = document.querySelector('#divMore');
					div.innerHTML = data;
				})
				.catch(error => console.error('Error:', error));

			const x = event.clientX;
			const y = event.clientY;
			const div = document.querySelector('#divMore');
			div.style.left = `${x}px`;
			div.style.top = `${y}px`;
			div.style.display = 'block';
			event.stopPropagation();
		}

		// 添加此代码來隐藏div
		document.body.addEventListener('click', function (event) {
			const div = document.querySelector('#divMore');
			const isClickInside = div.contains(event.target);
			if (!isClickInside) {
				div.style.display = 'none';
			}
		});
		// 避免div內部的點擊觸發body的事件
		document.querySelector('#divMore').addEventListener('click', function (event) {
			event.stopPropagation();
		});

		function applyFilter() {
    // 獲取表單數據
    var formData = $('#filterForm').serialize();

    // 構建 URL
    var url = '@Url.Action("SearchPartialCamapign", "CampaignsCoupon")' + '?' + formData;

    // 發送 AJAX 請求
    fetch(url)
        .then(response => response.text())
        .then(data => {
            // 更新表格內容或其他視圖操作，根據你的需求
            $('#datas').html(data);
        })
        .catch(error => console.error('Error:', error));
    }

     const btnss = document.querySelectorAll('.detailBtn');

    btnss.forEach(function (btn) {
     btn.addEventListener('click',async function () {
         const id2 = this.getAttribute('value');

         const modalDiv1 = document.querySelector('.modal-body');
          // 将 HTML 内容更新到 modalDiv 中
         const response1 = await fetch(`@Url.Action("GetDetail", "CampaignsCoupon")?id=${id2}`);
         const data1 = await response1.json();
         const dl2 = document.querySelector('#detail')

         // 給數字添加千分位
         const formattedDiscountValue = data1.DiscountValue.toLocaleString();
         const formattedDiscountQuantity = data1.DiscountQuantity.toLocaleString();
         const formattedAvailableQuantity = data1.AvailableQuantity.toLocaleString();
         const formattedMinimumOrderValue = data1.MinimumOrderValue.toLocaleString();
         const formattedMaximumDiscountAmount = data1.MaximumDiscountAmount.toLocaleString();

         // 折扣金額或百分比條件判斷
         const discountTypeLabel = data1.Type === "折扣金額" ? "折扣金額" : "折扣百分比";

         const html2 = `<dt>優惠券名稱:</dt><dd>${data1.Name}</dd>
                       <dt>狀態:</dt><dd>${data1.Status}</dd>
                       <dt>折扣類型:</dt><dd>${data1.Type}</dd>
                       <dt>${discountTypeLabel}:</dt><dd>${formattedDiscountValue}</dd>
                       <dt>可使用數量:</dt><dd>${formattedDiscountQuantity}</dd>
                       <dt>剩餘可使用數量:</dt><dd>${formattedAvailableQuantity}</dd>
                       <dt>最低消費金額:</dt><dd>${formattedMinimumOrderValue}</dd>
                       <dt>最高折扣金額:</dt><dd>${formattedMaximumDiscountAmount}</dd>
                       <dt>折扣碼:</dt><dd>${data1.Code}</dd>
                       <dt>優惠券顯示設定:</dt><dd>${data1.DisplayDescription}</dd>`;
                       
         dl2.innerHTML = html2;
         console.log(data1);
     });
    });

    //轉換json檔傳來時間的方法
    function createDateString(str) {
        const milliseconds1 = parseInt(str.slice(7, 19), 13);
        const date1 = new Date(milliseconds1);
        const year1 = date1.getFullYear();
        const month1 = (date1.getMonth() + 1).toString().padStart(2, '0');
        const day1 = date1.getDate().toString().padStart(2, '0');
        const hours1 = date1.getHours().toString().padStart(2, '0');
        const minutes1 = date1.getMinutes().toString().padStart(2, '0');
        const seconds1 = date1.getSeconds().toString().padStart(2, '0');
        return `${year1}-${month1}-${day1} ${hours1}:${minutes1}:${seconds1}`;
    }

    function showDeleteConfirmation(url) {
        Swal.fire({
            title: "確定要刪除嗎？",
            text: "此操作將無法還原！",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Delete！"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "刪除成功！",
                    text: "此筆已被刪除。",
                    icon: "success"
                }).then(() => {
                    // 在確認刪除後，執行實際的刪除操作
                    window.location.href = url;
                });
            }
        });
    }

    document.addEventListener("DOMContentLoaded", function () {
        document.addEventListener("click", function (e) {
            if (e.target.classList.contains("btn-delete")) {
                e.preventDefault();
                var deleteUrl = e.target.getAttribute("href");
                showDeleteConfirmation(deleteUrl);
            }
        });
    });
   
</script>
