@model SparkleAir.FrontEnd.Site.Models.ViewModels.Campaigns.CampaignsDiscountVm

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CampaignsDiscountVm</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CampaignId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CampaignId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Campaign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Campaign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateStart)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateStart)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateEnd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BundleSKUs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BundleSKUs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TFItemsCriteria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TFItemsCriteria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
