<!--

=========================================================
* Volt Free - Bootstrap 5 Dashboard
=========================================================

* Product Page: https://themesberg.com/product/admin-dashboard/volt-bootstrap-5-dashboard
* Copyright 2021 Themesberg (https://www.themesberg.com)
* License (https://themesberg.com/licensing)

* Designed and coded by https://themesberg.com

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

-->
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<!-- Primary Meta Tags -->
	<title>@ViewBag.Title - </title>
	<meta name="viewport"
		  content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="title" content="sparkle air" />
	<meta name="author" content="sparkle air" />
	<meta name="description" content="sparkle air" />
	<meta name="keywords" content="sparkle air" />
	<link rel="canonical"
		  href="https://themesberg.com/product/admin-dashboard/volt-premium-bootstrap-5-dashboard" />
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" />
	<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.4/dist/sweetalert2.min.css" rel="stylesheet">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	@RenderSection("styles", required: false)
	<style>
		#sidebarMenu {
			display: none;

		}

		.navbar {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000; /* 在其他元素之上 */
		}

		.content {
			margin-top: 50px; /* 不被navbar遮擋 */
		}

		#navContene {
			margin-top: 85px; /* 不被navbar遮擋 */
		}
		
	</style>
</head>

<body>
	<!-- NOTICE: You can use the _analytics.html partial to include production code specific code & trackers -->
	<!-- 漢堡-->
    <nav class="navbar navbar-dark navbar-theme-primary px-4 col-12" id="hamburger">
        <div class="d-flex align-items-center" id="Brand">
            <button class="navbar-toggler me-3 collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#sidebarMenu"
                    aria-controls="sidebarMenu"
                    aria-expanded="false"
                    aria-label="Toggle navigation" id="btn">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand me-lg-5" href="@Url.Action("Index", "Home")">
                <h2 style="color:white" class="mt-2">Sparkle AirLine</h2>
            </a>
        </div>
        <!-- 右側登出-->
        <div class="dropdown text-end dropstart">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="btn btn-sm btn-dark  rounded-circle justify-content-center text-center m-2 " id=""><i class="fa-solid fa-user"></i></div>
            </a>
            <ul class="dropdown-menu text-small" style="">
                @*<li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>*@
                <li><a class="dropdown-item" href='@Url.Content("~/StaffAuth/Logout")'>登出</a></li>
            </ul>
        </div>
    </nav>
	<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>
	<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
		<div class="offcanvas-header">
			<h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
			<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<p>Try scrolling the rest of the page to see this option in action.</p>
		</div>
	</div>
	<!-- 左側-->
	<nav id="sidebarMenu"
		 class="sidebar  bg-gray-800 text-white collapse"
		 data-simplebar>
		<div class="sidebar-inner px-4 pt-3" style="width:auto">
			<div class="user-card d-flex d-md-none align-items-center justify-content-between justify-content-md-center pb-4">
				<div class="collapse-close d-md-none">
					<a href="#sidebarMenu"
					   data-bs-toggle="collapse"
					   data-bs-target="#sidebarMenu"
					   aria-controls="sidebarMenu"
					   aria-expanded="true"
					   aria-label="Toggle navigation">
						<svg class="icon icon-xs"
							 fill="currentColor"
							 viewBox="0 0 20 20"
							 xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd"
								  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
								  clip-rule="evenodd"></path>
						</svg>
					</a>
				</div>
			</div>
			<ul class="nav flex-column pt-3 pt-md-0" id="navContene">
				<!--動態生成menu items-->
				@Html.Raw(ViewBag.MenuItems)
				<li role="separator"
					class="dropdown-divider mt-4 mb-3 border-gray-700"></li>
            </ul>
        </div>
    </nav>
	<!-- 內容-->
	<main class="content p-4" style="margin-left:0">
		@RenderBody()
	</main>
	<footer>
		<p class="ms-3">&copy; @DateTime.Now.Year - Sparkle Airline</p>
	</footer>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")

	@Scripts.Render("~/bundles/volt")
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
	@RenderSection("scripts", required: false)
	<script>
		$(document).ready(function () {
			$('.table_jq').DataTable({
				language: {
					url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/zh-HANT.json',
				},
			});
		});
		document.addEventListener("DOMContentLoaded", function () {
			var sidebarMenu = document.getElementById("sidebarMenu");
			var content = document.querySelector(".content");
			var sparkle = document.querySelector("#Brand");
			var footer = document.querySelector("footer");
			var opensidebar = document.querySelector("#btn");

			opensidebar.addEventListener("mouseenter", function () {
				sidebarMenu.style.display = (sidebarMenu.style.display === "none") ? "block" : "none";
				content.style.marginLeft = (sidebarMenu.style.display === "none") ? "0" : sidebarMenu.offsetWidth + "px";
				footer.style.marginLeft = (sidebarMenu.style.display === "none") ? "0" : sidebarMenu.offsetWidth + "px";
				sparkle.style.marginLeft = (sidebarMenu.style.display === "none") ? "0" : sidebarMenu.offsetWidth + "px";
			});

			document.addEventListener("mouseenter", function (e) {
				// 確認事件目標不在左側欄內部
				if (!sidebarMenu.contains(e.target) && !sparkle.contains(e.target)) {
					sidebarMenu.style.display = "none";
					sparkle.style.marginLeft = "0";
					content.style.marginLeft = "0";
					footer.style.marginLeft = "0";
				}
			});
			content.addEventListener("mouseenter", function () {
				// 當滑鼠進入內容區域時，隱藏左側欄
				sidebarMenu.style.display = "none";
				sparkle.style.marginLeft = "0";
				content.style.marginLeft = "0";
				footer.style.marginLeft = "0";
			});
		});

	</script>
</body>
</html>
