@model IEnumerable<SparkleAir.Infa.ViewModel.CompanyAndPermission.PermissionGroupIndexVm>

@{
    ViewBag.Title = "群組設定";
}

<h2>群組設定</h2>

<p>
    <a href='@Url.Action("Create")' class="btn btn-sm btn-dark ps-3 pe-3 btn-create"><i class="fa-solid fa-plus"></i>&nbsp;&nbsp;新增</a>
</p>
<table class="table table_jq">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ddescribe)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Criteria)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ddescribe)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Criteria)
                </td>*@
                <td>
                    <a href='@Url.Action("Edit/")@item.Id' class="btn btn-sm btn-dark ps-2 pe-2 btn-edit"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a> 
                </td>
            </tr>
        }
        </tbody>    
</table>
