@model IEnumerable<SparkleAir.Infa.ViewModel.CompanyAndPermission.CompanyStaffLoginLogIndexVm>

@{
    ViewBag.Title = "Index";
}

<h2>員工登入紀錄</h2>


<table class="table table_jq">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyStaffId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyStaffName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoutTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoginStatus)
            </th>

        </tr>
</thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyStaffId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CompanyStaffName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogoutTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IPAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoginStatus)
                </td>

            </tr>
        }
</tbody>
</table>
