@model SparkleAir.Infa.ViewModel.MealMessage.AirMealVm

@{
    ViewBag.Title = "詳細資料";
}

<h2>詳細資料</h2>

<div>
    <h4>餐點內容</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AirCabinId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AirCabinId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MealContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MealContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Image)*@
            <img src="@Url.Content($"~/Files/AirMealImgs/{Model.Image}")" alt="Image" width="300" />
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.UploadedImage)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.UploadedImage)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
            <a href='@Url.Action("Edit/")@Model.Id' class="btn btn-sm btn-dark ps-2 pe-2"><i class="fa-solid fa-pen-to-square"></i>&nbsp;&nbsp;編輯</a> |
        <a href='@Url.Action("Index/")' class="btn btn-sm btn-dark ps-2 pe-2 btn-back-to-list"><i class="fa-solid fa-backward"></i>&nbsp;&nbsp;回清單頁</a>
        </p>
