@model SparkleAir.Infa.ViewModel.MealMessage.AirMealVm

@{
    ViewBag.Title = "編輯";
}

<h2>編輯</h2>


@using (Html.BeginForm("Edit", "AirMeals", null, FormMethod.Post, new { enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>AirMealVm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.AirCabinId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.AirCabinId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.AirCabinId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.MealContent, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.MealContent, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MealContent, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="mb-3">
            @Html.LabelFor(model => model.Image, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Image, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
            </div>
        </div>*@
    <div class="form-group">
        <label class="control-label col-md-2" for="File">圖片上傳</label>
        <div class="col-md-10">
            <input type="file" name="File" class="form-control" />
        </div>
    </div>

    @*<div class="mb-3">
            @Html.LabelFor(model => model.UploadedImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UploadedImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UploadedImage, "", new { @class = "text-danger" })
            </div>
        </div>*@

    @*<div class="mb-3">
            @Html.LabelFor(model => model.Category, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Category, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Category, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="mb-3">
        <label for="Category" class="control-label col-md-2">分類</label>
        <select class="form-select" aria-label="Default select example" name="Category">
            <option selected>請選擇</option>
            <option value="宗教餐">宗教餐</option>
            <option value="素食餐">素食餐</option>
            <option value="兒童及幼兒餐">兒童及幼兒餐</option>
            <option value="醫療及健康管理餐">醫療及健康管理餐</option>
        </select>
        <span class="text-danger"></span>
    </div>

    <div class="mb-3">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="新增" class="btn btn-sm btn-success ps-3 pe-3 btn-create" />
        </div>
    </div>
</div>
}

<hr>
<div>
    <a href='@Url.Action("Index/")' class="btn btn-sm btn-dark ps-2 pe-2 btn-back-to-list"><i class="fa-solid fa-backward"></i>&nbsp;&nbsp;回清單頁</a>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
