@model SparkleAir.Infa.ViewModel.Members.MemberClassIndexVm

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>
            <a href='@Url.Action("Index/")' class="btn btn-sm btn-dark ps-2 pe-2"><i class="fa-solid fa-backward"></i>&nbsp;&nbsp;回清單頁</a>
        </div>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mt-2">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-2">
            @Html.LabelFor(model => model.ClassOrder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassOrder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClassOrder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-2">
            @Html.LabelFor(model => model.MileageStart, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MileageStart, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MileageStart, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-2">
            @Html.LabelFor(model => model.MileageEnd, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MileageEnd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MileageEnd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="mt-3">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="儲存" class="btn btn-sm btn-success ps-3 pe-3" />
                <a data-href='@Url.Action("Delete/")@Model.Id' class="btn btn-sm btn-danger ps-2 pe-2 btn-delete"><i class="fa-solid fa-trash"></i>&nbsp;&nbsp;刪除</a>
            </div>
        </div>
    </div>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    const btnDelete = document.querySelectorAll('.btn-delete');
    btnDelete.forEach((item) => {
        item.addEventListener('click', function () {
            Swal.fire({
                title: "你確定要刪除嗎？",
                showConfirmButton: false,
                showDenyButton: true,
                showCancelButton: true,
                denyButtonText: `確定刪除`,
                cancelButtonText: `取消`
            }).then((result) => {
                if (result.isDenied) {
                    window.location.href = this.dataset.href;
                }
            });
        });
    });
    </script>
    }